@import '../../styles/colors';
@import '../../styles/breakpoints';

.link-button {
    color: white;
    min-width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 360px;
    text-align: center;
    font-size: 13px;
    background: $primary-cyan;
    user-select: none;
}

.link-button:hover {
    cursor: pointer;
    background: $primary-cyan-hover;
}

// Sizes
.large {
    height: 45px;
    line-height: 45px;
    min-width: 150px;
}

// Shapes
.square {
    border-radius: 5px;
}

// Themes
.dark {
    background-color: $primary-dark-violet;
}

.dark:hover {
    background-color: $primary-dark-violet;
}

// Spinner
.loading-spinner {  
    position: relative;
    top: 5px;
    /*  control spinner size with setting font-size  */
    font-size: 1rem;
    border: 0.3em solid #fff;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: loading-spinner 1s linear infinite;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  @keyframes loading-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  