@import '../../styles/colors';
@import '../../styles/breakpoints';

.footer-component-container {
    display: flex;
    background-color: black;
    padding-top: 50px;
    color: white;
    justify-content: space-evenly;
    
    @include mobile {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
}

.shortly-logo {
    font-size: 25px;
    font-weight: 700;
}

.menus-container {
    display: flex;
    justify-content: space-evenly;
    min-width: 40%;

    @include mobile {
        flex-direction: column;
    }
}

.menu-container {
    @include mobile {
        margin: 20px 0 30px 0;
    }
}

.social-media {
    display: flex;
    justify-content: space-evenly;

    @include mobile {
        margin-bottom: 30px;
    }

    img {
        width: 20px;
        height: 20px;
        padding: 0 20px 0 0;
    }

    img:hover {
        filter: invert(0.15) sepia(1) saturate(20) hue-rotate(111.6deg) brightness(1);
    }
}

.menu-name {
    margin-bottom: 5px;

    @include mobile {
        text-align: center;
        font-size: 13px;
    }
    
}

.menu-link-container {
    @include mobile {
        text-align: center;
    }
}

.menu-link {
    font-size: 12px;
    
}

.menu-link:hover {
    color: $primary-cyan;
}