@import '../../styles/colors';
@import '../../styles/breakpoints';

.shortener {
    margin: 40px auto 0px auto;
    width: 90%;
    
    background-color: $primary-dark-violet;
    background-repeat: round;
    border-radius: 15px;
}

.wrapper {
    padding: 35px 20px 35px 35px;
    display: flex;
    justify-content: space-around;

    @include mobile {
        flex-direction: column;
    }
}

input {
    width: 100%;
    height: 35px !important;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border: 0;
    height: 25px;
    outline: none;
}

.input-cointainer {
    @include desktop {
        width: 80%;
    }

    @include mobile {
        width: 250px;
    }
}

.button-container {
    @include desktop {
        margin-right: 20px;
    }

    @include mobile {
        margin-top: 10px;
        width: 280px;
    }
}

.invalid {
    border: 1.5px solid $secondary;
}

.invalid::placeholder {
    color: $secondary;
}

.invalid-alert {
    color: $secondary;
    font-size: 10px;
    font-style: italic;
}

.shadow {
    background-color: $light-gray;
    height: 50vh;
    width: 100%;
    z-index: -1;
    margin-top: 50px;
    position: absolute;

    @include mobile {
        height: 100vh;
    }
}

.shortened-urls-container {
    width: 90%;
    margin: 20px auto 0px auto;
    background-color: $light-gray;
    display: flex;
    align-items: center;
    flex-direction: column;
}