@import '../../styles/colors';

.boost-component-container {
    margin: 0;
    height: 155px;
    background-color: #3b3054;
    background-repeat: round;

    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: white;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}