@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import './styles/colors';
@import './styles/breakpoints';

body {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  cursor: default;
  color: $primary-dark-violet;
}

a {
  text-decoration: none;
  color: $neutral-gray;
  font-size: 14px;
}

a:hover {
  cursor: pointer;
  color: $primary-dark-violet;
}

@include mobile {
  body {
    margin: 10px 0 0 0;
  }
}

@include desktop {
  body {
    margin: 30px 0 0 0;
  }
}

